<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Controlador</title>
</head>
<body>
	<div ng-app="app" ng-controller="appController as vm">
		<h1>Acumulador</h1>
		<br>
		¿Cuanto? <input type="text" ng-model="vm.monto">
		<br>
		<input type="button" ng-click="vm.sumar()" value=" +"><br>
		<input type="button" ng-click="vm.restar()" value=" -"><br>
		<h2>Totales</h2>
		En el acumulador llevamos
		<span>{{vm.total}}</span>
	</div>
<script src="angular/angular.min.js"></script>
<script>
	angular
	.module("app",[])
	.controller ("appController", controladorPrincipal);

	function controladorPrincipal(){
		var scope = this;
		scope.total = 0;
		scope.monto = 0;

		scope.sumar = function (){
			scope.total += parseInt(scope.monto);
		}
		scope.restar = function(){
			scope.total -= parseInt(scope.monto);
		}
	};
</script>
</body>
</html>