<!DOCTYPE html>
<html lang="es" ng-app>
<head>
	<meta charset="UTF-8">
	<title>Directiva ngclick</title>
</head>
<body>
	<input type="text" ng-model="campoTexto">
	<br>
	{{campoTexto}} - {{campoSelect}}
	<br>
	<select name="" id="" ng-model="campoSelect">
		<option value="Uno">1</option>
		<option value="Dos">2</option>
		<option value="Tres">3</option>
	</select>
	<br>
	<input type="button" value="Poner" ng-click="campoTexto='Aprendiendo AngularJs'">
<script src="angular/angular.min.js"></script>
</body>
</html>